@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

canvas {
  /* background-image: url(/space.jpg); */
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(0, 16, 33, 0.75);
  --spacing: 25rem;
  --light-bg: rgb(175, 162, 255, 0.75);
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: normal;
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  border-radius: 30px;
  padding: 2rem;
  background-color: var(--dark-bg);
  font-size: 3rem;
  display: inline;
  line-height: 1;
}

header {
  background: var(--dark-bg);
  border-radius: 30px;
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  border-radius: 30px;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}